<!-- Slider Section -->
<div class="slider">
  <div class="circle"></div>
  <div class="slider-content">
    <!-- Slider 1 -->
    <div class="slider-item active">
      <div class="text-section">
        <p class="texts mt">{{ "welcome_to_plate" | transloco }}</p>
        <div class="dot">#1</div>
        <h2 class="h2_text">{{ "delivery_service" | transloco }}</h2>
        <p class="texts mb">{{ "quick_delivery" | transloco }}</p>
        <div class="navigation">
          <span class="numbers active">01</span>
          <span class="numbers">02</span>
          <span class="numbers">03</span>
          <span class="numbers">04</span>
        </div>
        <p class="light_green texts">{{ "why_choose_plate" | transloco }}</p>
      </div>
      <div class="image-section">
        <img
          src="../../assets/Slider_img/slider-01-671x671.png"
          alt="Image 1"
        />
      </div>
    </div>
    <!-- Slider 2 -->
    <div class="slider-item">
      <div class="text-section">
        <p class="texts mt">{{ "delivery_country" | transloco }}</p>
        <div class="dot">250</div>
        <h2 class="h2_text">{{ "supported_locations" | transloco }}</h2>
        <p class="mb texts">{{ "food_delivery_service" | transloco }}</p>
        <div class="navigation">
          <span class="numbers">01</span>
          <span class="numbers">02</span>
          <span class="numbers">03</span>
          <span class="numbers">04</span>
        </div>
        <p class="light_green texts">{{ "nationwide_delivery" | transloco }}</p>
      </div>
      <div class="image-section">
        <img
          src="../../assets/Slider_img/slider-02-671x671.png"
          alt="Image 2"
        />
      </div>
    </div>
    <!-- Slider 3 -->
    <div class="slider-item">
      <div class="text-section">
        <p class="texts mt">{{ "best_dishes" | transloco }}</p>
        <div class="dot">100%</div>
        <h2 class="h2_text">{{ "delicious_food" | transloco }}</h2>
        <p class="mb texts">{{ "best_tastiest_food" | transloco }}</p>
        <div class="navigation">
          <span class="numbers">01</span>
          <span class="numbers">02</span>
          <span class="numbers">03</span>
          <span class="numbers">04</span>
        </div>
        <p class="light_green texts">{{ "organic_ingredients" | transloco }}</p>
      </div>
      <div class="image-section">
        <img
          src="../../assets/Slider_img/slider-03-671x671.png"
          alt="Image 3"
        />
      </div>
    </div>
    <!-- Slider 4 -->
    <div class="slider-item">
      <div class="text-section">
        <p class="texts mt">{{ "clients_trust_us" | transloco }}</p>
        <div class="dot">3K</div>
        <h2 class="h2_text">{{ "positive_reviews" | transloco }}</h2>
        <p class="mb texts">{{ "client_reviews" | transloco }}</p>
        <div class="navigation">
          <span class="numbers">01</span>
          <span class="numbers">02</span>
          <span class="numbers">03</span>
          <span class="numbers">04</span>
        </div>
        <p class="light_green texts">
          {{ "reviews_testimonials" | transloco }}
        </p>
      </div>
      <div class="image-section">
        <img
          src="../../assets/Slider_img/slider-04-671x671.png"
          alt="Image 4"
        />
      </div>
    </div>
  </div>
</div>
<!-- About Us Section -->
<div class="about_us">
  <div class="about_us_section" id="about">
    <div class="about_us_img">
      <img
        class="about_us_image"
        src="../../assets/About_Us_img/shutter-home-01-455x685.png"
        alt=""
      />
    </div>
    <div class="about_us_texts">
      <p class="about_us_txt">{{ "about_us" | transloco }}</p>
      <h2 class="about_us_txt">{{ "healthy_food" | transloco }}</h2>
      <span class="about_us_txt">{{ "plate_established" | transloco }}</span>
      <ul>
        <li class="about_us_txt">{{ "gluten_free" | transloco }}</li>
        <li class="about_us_txt">{{ "fresh_ingredients" | transloco }}</li>
        <li class="about_us_txt">{{ "great_discounts" | transloco }}</li>
      </ul>
      <button class="read_more_btn">{{ "read_more" | transloco }}</button>
    </div>
  </div>
</div>
<!-- What We Offer Section -->
<div class="what" id="what">
  <p class="what_txt">{{ "what_we_offer" | transloco }}</p>
  <h2 class="what_txt">{{ "food_packages" | transloco }}</h2>
  <div class="cards">
    <!-- Card 1 -->
    <div class="card">
      <div class="card_texts">
        <h3 class="what_txt">{{ "detox" | transloco }}</h3>
        <img
          class="what_img"
          src="../../assets/What_we_offer_img/product-01-176x176.png"
          alt=""
        />
        <div>
          <div class="prices">
            <div class="dolar">$</div>
            <div class="price">15</div>
          </div>
          <div class="days">
            <p class="what_txt">{{ "per_day" | transloco }}</p>
          </div>
        </div>
        <p class="what_txt">{{ "detox_description" | transloco }}</p>
        <button routerLink="/products" class="read_more_btn">
          {{ "order_now" | transloco }}
        </button>
        <a href="docs/sample-menu.pdf" target="_blank" class="read_more_pdf">{{
          "open_menu_pdf" | transloco
        }}</a>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="card">
      <div class="card_texts">
        <h3 class="what_txt">{{ "balanced" | transloco }}</h3>
        <img
          class="what_img"
          src="../../assets/What_we_offer_img/product-02-176x176.png"
          alt=""
        />
        <div>
          <div class="prices">
            <div class="dolar">$</div>
            <div class="price">30</div>
          </div>
          <div class="days">
            <p class="what_txt">{{ "per_day" | transloco }}</p>
          </div>
        </div>
        <p class="what_txt">{{ "balanced_description" | transloco }}</p>
        <button routerLink="/products" class="read_more_btn">
          {{ "order_now" | transloco }}
        </button>
        <a href="/docs/sample-menu.pdf" target="_blank" class="read_more_pdf">{{
          "open_menu_pdf" | transloco
        }}</a>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="card">
      <div class="card_texts">
        <h3 class="what_txt">{{ "vegan" | transloco }}</h3>
        <img
          class="what_img"
          src="../../assets/What_we_offer_img/product-03-176x176.png"
          alt=""
        />
        <div>
          <div class="prices">
            <div class="dolar">$</div>
            <div class="price">22</div>
          </div>
          <div class="days">
            <p class="what_txt">{{ "per_day" | transloco }}</p>
          </div>
        </div>
        <p class="what_txt">{{ "vegan_description" | transloco }}</p>
        <button routerLink="/products" class="read_more_btn">
          {{ "order_now" | transloco }}
        </button>
        <a href="/docs/sample-menu.pdf" target="_blank" class="read_more_pdf">{{
          "open_menu_pdf" | transloco
        }}</a>
      </div>
    </div>
  </div>
</div>
<!-- How It Works Section -->
<div class="how" id="how">
  <div class="how_title">
    <p class="how_txt">{{ "how_it_works" | transloco }}</p>
    <h2 class="how_txt">{{ "steps_to_eating" | transloco }}</h2>
  </div>
  <div class="steps">
    <!-- Step 1 -->
    <div class="step yellow">
      <div class="step_texts">
        <div class="how_dot">01</div>
        <h3 class="how_txt">{{ "choose_food_package" | transloco }}</h3>
        <p class="how_txt">{{ "choose_package" | transloco }}</p>
      </div>
    </div>
    <!-- Step 2 -->
    <div class="step lightblue">
      <div class="step_texts">
        <div class="how_dot">02</div>
        <h3 class="how_txt">{{ "customize_menu" | transloco }}</h3>
        <p class="how_txt">{{ "customize_menu_desc" | transloco }}</p>
      </div>
    </div>
    <!-- Step 3 -->
    <div class="step lightgreen">
      <div class="step_texts">
        <div class="how_dot">03</div>
        <h3 class="how_txt">{{ "delivery_address" | transloco }}</h3>
        <p class="how_txt">{{ "delivery_address_desc" | transloco }}</p>
      </div>
    </div>
  </div>
</div>
<!-- features Section -->
<div class="features" id="why">
  <div class="features_container">
    <div class="features_boxes">
      <!-- Feature 1 -->
      <div class="feature">
        <div class="title">
          <ion-icon class="icon" name="diamond-outline"></ion-icon>
          <h2 class="features_txt">{{ "quality" | transloco }}</h2>
        </div>
        <p class="features_txt">{{ "quality_desc" | transloco }}</p>
      </div>
      <!-- Feature 2 -->
      <div class="feature">
        <div class="title">
          <ion-icon class="icon round" name="leaf-outline"></ion-icon>
          <h2 class="features_txt">{{ "organic" | transloco }}</h2>
        </div>
        <p class="features_txt">{{ "organic_desc" | transloco }}</p>
      </div>
      <!-- Feature 3 -->
      <div class="feature">
        <div class="title">
          <ion-icon class="icon" name="heart-outline"></ion-icon>
          <h2 class="features_txt">{{ "tasty" | transloco }}</h2>
        </div>
        <p class="features_txt">{{ "tasty_desc" | transloco }}</p>
      </div>
      <!-- Feature 4 -->
      <div class="feature">
        <div class="title">
          <ion-icon class="icon" name="egg-outline"></ion-icon>
          <h2 class="features_txt">{{ "diverse" | transloco }}</h2>
        </div>
        <p class="features_txt">{{ "diverse_desc" | transloco }}</p>
      </div>
    </div>
    <div class="features_imgs">
      <img
        class="position_img_1"
        src="../../assets/Features_img/home-01-382x375.png"
        alt=""
      />
      <img
        class="position_img_2"
        src="../../assets/Features_img/home-02-293x293.png"
        alt=""
      />
      <img
        class="position_img_3"
        src="../../assets/Features_img/home-03-461x407.png"
        alt=""
      />
      <img
        class="position_img_4"
        src="../../assets/Features_img/home-04-191x191.png"
        alt=""
      />
    </div>
  </div>
</div>
<!-- What Our Clients Say Section -->
<div class="clients_say">
  <div class="clients_img_container">
    <div class="client_img_1">
      <img
        class="clients_img_1"
        src="../../assets/Clients_img/shutter-testimonials-01-179x179.png"
        alt=""
      />
    </div>
    <div class="client_img_2">
      <img
        class="clients_img_2"
        src="../../assets/Clients_img/shutter-testimonials-02-306x306.png"
        alt=""
      />
    </div>
    <div class="client_img_3">
      <img
        class="clients_img_3"
        src="../../assets/Clients_img/testimonials-03-179x179.png"
        alt=""
      />
    </div>
  </div>
  <div class="clients_texts">
    <div class="client">
      <div class="clients_titles">
        <p class="clients_txt">{{ "client_say" | transloco }}</p>
        <h2 class="clients_txt">{{ "testimonials" | transloco }}</h2>
      </div>
      <div class="boxes">
        <div>
          <img
            class="dots"
            src="../../assets/Clients_img/download.png"
            alt=""
          />
        </div>
        <div class="clients_text_container">
          <!-- slider 1 -->
          <div class="clients_slider">
            <p class="clients_txt">{{ "sophie_smith_review" | transloco }}</p>
            <h2>{{ "sophie_smith" | transloco }}</h2>
          </div>
          <!-- slider 2 -->
          <div class="clients_slider">
            <div>
              <p class="clients_txt">{{ "ann_peters_review" | transloco }}</p>
              <h2>{{ "ann_peters" | transloco }}</h2>
            </div>
          </div>
          <!-- slider 3 -->
          <div class="clients_slider">
            <div>
              <p class="clients_txt">{{ "peter_lee_review" | transloco }}</p>
              <h2>{{ "peter_lee" | transloco }}</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dashes">
      <span class="dash active">_</span>
      <span class="dash">_</span>
      <span class="dash">_</span>
    </div>
    <div>
      <button class="btn_send_review">{{ "send_review" | transloco }}</button>
    </div>
  </div>
  <div class="login">
    <button routerLink="/login" class="login_btn">
      {{ "login" | transloco }}
    </button>
  </div>
</div>
