<div class="footer">
  <div class="footer_elements">
    <div class="footer_element">
      <a href="#">
        <img
          class="footer_img"
          src="../../../assets/Footer_img/logo-default-269x100.png"
          alt=""
        />
      </a>
      <p class="footer_txt">{{ "footer_copyright" | transloco }}</p>
    </div>
    <div class="footer_element">
      <h2 class="footer_txt">{{ "contacts" | transloco }}</h2>
      <ul class="contect">
        <li>
          <ul class="phone">
            <li class="grey footer_txt">{{ "phone" | transloco }}</li>
            <li><a href="#"> 1-800-123-1234</a></li>
          </ul>
        </li>
        <li>
          <ul class="mail">
            <li class="grey footer_txt">{{ "mail" | transloco }}</li>
            <li><a href="#"> Info&#64;demolink.org</a></li>
          </ul>
        </li>
      </ul>
      <a class="adress" href="#">
        8439 Pierce Court Sacramento, <br />CA 95820
      </a>
      <!-- icons -->
      <ul class="footer_icons">
        <li>
          <a href="https://www.facebook.com" target="_blank">
            <ion-icon
              class="footer_icon facebook"
              name="logo-facebook"
            ></ion-icon>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com" target="_blank">
            <ion-icon
              class="footer_icon instagram"
              name="logo-instagram"
            ></ion-icon>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com" target="_blank">
            <ion-icon
              class="footer_icon youtube"
              name="logo-youtube"
            ></ion-icon>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer_element">
      <h2 class="footer_txt">{{ "quick_links" | transloco }}</h2>
      <div class="quick_links">
        <div>
          <a class="footer_txt" href="#how">{{ "how_it_works" | transloco }}</a>
        </div>
        <div>
          <a class="footer_txt" href="#about">{{ "about" | transloco }}</a>
        </div>
        <div>
          <a class="footer_txt" href="#why">{{
            "why_choose_us" | transloco
          }}</a>
        </div>
      </div>
    </div>
    <div class="footer_element">
      <h2 class="footer_txt">{{ "food_packages" | transloco }}</h2>
      <div class="food_packages">
        <div>
          <a class="footer_txt" href="products.html" target="_blank">{{
            "detox" | transloco
          }}</a>
        </div>
        <div>
          <a class="footer_txt" href="products.html" target="_blank">{{
            "balanced" | transloco
          }}</a>
        </div>
        <div>
          <a class="footer_txt" href="products.html" target="_blank">{{
            "vegan" | transloco
          }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
